body{
	display: flex;
	flex-direction: row;
	margin: 0;
}

.left-col{
	height: 100vh;
	width: 50vw;
	background-image: url('hotel.jpg');
	background-size: 800px 700px;
	background-repeat: no-repeat;
}

.right-col{
	height: 100vh;
	width: 50vw;
}

.top-row{
	display: flex;
	flex-direction: column;
	height: 30vh;
}

.top-row p{
	align-content: left;
	align-items: left;
	justify-content: left;
	padding-bottom: 10px;
	padding-left: 90px;
	font-family: calibri;
	font-size: 30px;
}

#inputs{
	display: flex;
	flex-direction: row;
	height: 40px;
	align-content: center;
	justify-content: center;
  	align-items: center;
}

input{
	width: 200px;
	height: 40px;
	margin: 5px;
	border: 0.5px solid silver;
	padding: 4px;
	padding-left: 10px;
	border-radius: 4px;
}

button{
	border:1px solid skyblue;
	height: 40px;
	width: 80px;
	background-color: transparent;
	border-radius: 24px;
	font-weight: bolder;
	color:skyblue;
}

.bottom-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 70vh;
	background-color: #e6e6ff;
}